{% extends 'news/base.html' %}

{% block title %}Категории{% endblock %}
{% block content %}
<section class="container">
    <h1>Все категории</h1>
    <hr>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-3" style="text-align: center;">
                <a href="{{category.get_absolute_url}}">
                    <p>{{category.title}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}