{% extends 'news/base.html' %}

{% block title %}Новости{% endblock %}
{% block content %}
<section class="container">
    <h1>Последние новости</h1>
    <p>Отфильтровать по популярным</p>
    <form action="{% url 'popular' %}" method="POST">
      {% csrf_token %}
      <select name="popular" id="">
        <option value="-views">Популярные</option>
        <option value="-date">По новизне</option>
        <option value="date">Сначала старые</option>
        <option value="views">Не популярные</option>
      </select>
      <button class="btn btn-outline-danger">Фильтровать</button>
    </form>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <a href="{{post.get_absolute_url}}">
                {% if post.image.url != null %}
                <img src="{{post.image.url}}" class="card-img-top" alt="...">
                {% endif %}
              </a>
                <div class="card-body">
                  <h5 class="card-title">{{post.title}}</h5>
                  <a href="{{post.category.get_absolute_url}}">
                    <p class="card-title">{{post.category.title}}</p>
                  </a>
                  <p class="card-text">{{post.summary}}</p>
                  <a href="#" class="btn btn-primary">Читать далее...</a>
                  <span>Просмотров: {{post.views}}</span>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}