{% extends 'news/base.html' %}

{% block title %}
{{post.title}}
{% endblock %}
{% block content %}
<h1>{{post.title}}</h1>
{% if post.image.url != null %}
    <img src="{{post.image.url}}" alt="">
{% endif %}
<p>
    Просмотров: {{post.views}}
</p>
<p>
    {{post.text|safe}}
</p>
<p>
    <em>{{post.date|date:'d F, Y'}}</em>
</p>
<hr>
<h3>Оставьте комментарий!</h3>
<form action="{% url 'comment' post.slug %}" method="POST">
    {% csrf_token %}
    {% if not user.is_authenticated %}
    <label for="">Ваше имя:</label>
    <input name="name" type="text" class="form-control">
    {% endif %}
    <label for="">Комментарий</label>
    <textarea name="text" class="form-control"></textarea>
    <button class="btn btn-outline-danger">Отправить</button>
</form>
<hr>
<h2>Комментарев: {{post.comment_set.count}}</h2>
{% for comment in post.comment_set.all %}
    <p>{{comment.author_name}}</p>
    <p>{{comment.comment_text}}</p>
    <p><em>{{comment.date|date:'d F, Y| h:m'}}</em></p>
{% endfor %}
{% endblock %}